CompileFlags:
  Add: 
    - -Wall
    - -Wextra
    - -Werror
    - -I./src/common
    - -I./src/http
    - -I./src/Config
    - -I./tests
    - -std=c++20

Diagnostics:
  ClangTidy:
    Add: 
      - readability-*
      - modernize-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-convert-member-functions-to-static
      - modernize-use-starts-ends-with
      - readability-magic-numbers
      - modernize-use-ranges

