CompileFlags:
  Add: 
    - -Wall
    - -Wextra
    - -Werror
    - -Iinc
    - -Isrc
    - -std=c++20

Diagnostics:
  ClangTidy:
    Add: 
      - readability-*
      - modernize-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-convert-member-functions-to-static

